.footerContainer {
  background-color: #fdbfda;
  min-height: 10rem;
}

.footer_contents {
  padding: 3rem 0;
}

.footer_contents p {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-10);
}

.phone-number {
  font-size: 1.4rem !important;
  color: var(--color-primary) !important;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
