nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f0b4a8;
  max-width: 80%;
  margin: 0 auto;
  height: 8rem;
}

nav a {
  font-family: var(--head-font);
  font-weight: 700;
  text-decoration: none;
 color: #bf3c22;
  font-size: 1.8rem;
}
