<div class="contact-components">
  <div class="contact-left">
    <img src="../../assets/photo/products.jpg" alt="">
  </div>
  <div class="contact-right">
    <h2>Contact Us</h2>
    <form action="#">
      <div class="contact-name">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Name">

      </div>
      <div class="contact-email">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Email">
      </div>

<div class="contact-message">
          <textarea id="message"rows="8" cols="30" placeholder="Message"></textarea>
      </div>
      <button id="btn" type="submit">Send Message</button>

    </form>

    <div class="text-message">
      <h3>Thanks to Visit <br>Our Photo Frames Website</h3>
    </div>
  </div>
  <!-- contact-right class end -->
</div>
