<div class="galleryContainer">

  <div class="gallery-contents">
    <div class="gallery">
      <div class="pic" id="pic">
        <img src="../../assets/homegallery/img12.jpg" alt="">
      </div>
      <div class="pic" id="pic1">
        <img src="../../assets/homegallery/img1.jpg" alt="">
      </div>
      <div class="pic" id="pic2">
        <img src="../../assets/homegallery/img13.jpg" alt="">
      </div>
      <div class="pic" id="pic4">
        <img src="../../assets/homegallery/img6.jpg" alt="">
      </div>
      <div class="pic" id="pic5">
        <img src="../../assets/homegallery/img4.jpg" alt="">
      </div>
      <div class="pic" id="pic6">
        <img src="../../assets/homegallery/img10.jpg" alt="">
      </div>
      <div class="pic" id="pic7">
        <img src="../../assets/homegallery/img9.jpg" alt="">
      </div>
      <div class="pic" id="pic8">
        <img src="../../assets/homegallery/img7.jpg" alt="">
      </div>
      <div class="pic" id="pic9">
        <img src="../../assets/homegallery/img5.jpg" alt="">
      </div>
      <div class="pic" id="pic10">
        <img src="../../assets/homegallery/img8.jpg" alt="">
      </div>
      <div class="pic" id="pic11">
        <img src="../../assets/homegallery/img11.jpg" alt="">
      </div>

    </div>

  </div>

</div>
