<div class="gallery_contents">
  <div class="gallery-text">This is Our Photo Frames Works</div>
  <div class="gallery">
    <div class="gallery-card">
    <div class="pic" id="pic">
      <img src="../../assets/photo/pic (11).jpg" alt="">
    <div class="text"><h2>Black $ white Photo Frame</h2></div>
    </div>

    </div>
    <div class="pic" id="pic1">
      <img src="../../assets/photo/pic (1).jpg" alt="">
    </div>
    <div class="pic" id="pic2">
      <img src="../../assets/photo/pic (2).jpg" alt="">
    </div>
    <div class="pic" id="pic3">
      <img src="../../assets/photo/pic (7).jpg" alt="">
    </div>
    <div class="pic" id="pic4">
      <img src="../../assets/photo/pic (4).jpg" alt="">
    </div>
    <div class="pic" id="pic5">
      <img src="../../assets/photo/pic (10).jpg" alt="">
    </div>
    <div class="pic" id="pic6">
      <img src="../../assets/photo/pic (9).jpg" alt="">
    </div>
    <div class="pic" id="pic7">
      <img src="../../assets/photo/pic (12).jpg" alt="">
    </div>
    <div class="pic" id="pic8">
      <img src="../../assets/photo/pic (8).jpg" alt="">
    </div>
    <div class="pic" id="pic9">
      <img src="../../assets/photo/pic (3).jpg" alt="">
    </div>
    <div class="pic" id="pic10">
      <img src="../../assets/photo/pic (5).jpg" alt="">
    </div>
    <div class="pic" id="pic11">
      <img src="../../assets/photo/pic (6).jpg" alt="">
    </div>

  </div>
</div>
