<div class="gallery_contents">
  <div class="gallery-text">This is Our Photo Frames Works</div>
  <div class="gallery">
    <div class="pic" id="pic">
      <img src="../../assets/photo/pic (1).jpg" alt="">
        <h2>The City Image Frame</h2>
    </div>
    <div class="pic" id="pic1">
      <img src="../../assets/photo/pic (11).jpg" alt="">
      <h2>Black and white Photo Frame</h2>
    </div>
    <div class="pic" id="pic2">
      <img src="../../assets/photo/pic (12).jpg" alt="">
        <h2>Boy's Image Frame</h2>
    </div>
    <div class="pic" id="pic3">
      <img src="../../assets/photo/pic (8).jpg" alt="">
        <h2 id="h2">Painting Tree Frame</h2>
    </div>
    <div class="pic" id="pic4">
      <img src="../../assets/photo/pic (10).jpg" alt="">
        <h2>Polar Bear</h2>
    </div>
    <div class="pic" id="pic5">
      <img src="../../assets/photo/pic (2).jpg" alt="">
        <h2>The Sunflowers Image</h2>
    </div>
    <div class="pic" id="pic6">
      <img src="../../assets/photo/pic (6).jpg" alt="">
        <h2>Mountain Frame</h2>
    </div>
    <div class="pic" id="pic7">
      <img src="../../assets/photo/pic (9).jpg" alt="">
        <h2>Autumn's Image Frame</h2>
    </div>
    <div class="pic" id="pic8">
      <img src="../../assets/photo/pic (5).jpg" alt="">
        <h2>Photoshoot Frame</h2>
    </div>
    <div class="pic" id="pic9">
      <img src="../../assets/photo/pic (7).jpg" alt="">
        <h2>OutPlace Image Frame</h2>
  </div>
    <div class="pic" id="pic10">
      <img src="../../assets/photo/pic (4).jpg" alt="">
        <h2>Beautiful Lotus Frame</h2>
    </div>
    <div class="pic" id="pic11">
      <img src="../../assets/photo/pic (3).jpg" alt="">
        <h2 id="h2">Duck Place Frame</h2>
    </div>

  </div>
</div>
