<div class="not-found-container">
  <div class="content">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600" class="error-svg">
      <path d="M598.5 159.7c-6.8-44.7-57.1-74.7-112.3-67-55.2 7.7-94.3 50.2-87.5 94.9 6.8 44.7 57.1 74.7 112.3 67 55.2-7.7 94.3-50.2 87.5-94.9z" fill="#f92a82"/>
      <path d="M391.8 354.9c-6.8-44.7-57.1-74.7-112.3-67-55.2 7.7-94.3 50.2-87.5 94.9 6.8 44.7 57.1 74.7 112.3 67 55.2-7.7 94.3-50.2 87.5-94.9z" fill="#fdbfda"/>
      <text x="50%" y="50%" text-anchor="middle" class="error-text">404</text>
    </svg>
    <h1>Page Not Found</h1>
    <p class="redirect-text">You will be redirected to home in {{ timeLeft() }} seconds</p>
    <a routerLink="/" class="home-link">Go to Home</a>
  </div>
</div>
